body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: #FDFDFF;
    color:#163152;

}

.nav_list_item a {
    font-size: 14px;
    line-height: 18px;
    color:#163152;
    text-decoration:none ;
    text-transform: uppercase;

}

.hero h1{
    font-size: 44px;
    line-height: 60px;
    font-style:italic ;
    text-transform: uppercase;
}

.under_hero_article_second_flex_element1_datetime , .under_hero_article_first_flex_element1_datetime{
    font-size:14px;
    line-height: 18px;
}

.under_hero_article_first_flex_element1 h2 , .under_hero_article_second_flex_element1 h2{ 
    line-height:34px;
}


/* news!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.news h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    
}

.news_article_1 p{
    line-height: 19px;
    color: #8693A4;
}

.news_article_2_title1{
    font-weight: 700;
    font-size:22px;
    line-height:26px
}

.news_article_2 p{
    font-size:18px;
    line-height:26px;
}

.news_article_2_title2{
    font-weight:700px;
    font-size:20px;
    line-height:26px
}


.news_article_2_list_item{
    font-size:18px;
    line-height:26px;
}

.news_article_2_text_1 , .news_article_2_text_3{
    font-size:18px;
    line-height:26px;
}

.news_article_3_text_2{
    font-weight: 700;
    font-size:26px;
    line-height: 36px;
}

.news_article_3_flex_text_1{
    font-weight: 700px;
    font-size:16px;
    line-height:19px;
}

.news_article_3_datetime{
    color: #8693A4;
    font-size:16px;
    line-height:19px;
    font-weight: 400px;

}





.contacts h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

.contacts_list_item h3{
    font-weight: 700;
    line-height: 16px;
    font-size:16px;
}

.contacts_list_item a {
    line-height: 22px;
    line-height: 16px;
    color:#163152;
    text-decoration:none ;
}

.contacts_list_item .address{
    line-height:22px ;
    line-height: 16px;
}

.sosical_networks_list{
    width: 40px;
    height: 40px;
    border:2px solid #00C6BD ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.extra_information li h2{
    font-weight: 700;
    font-size: 14px;
    line-height:18px;
    text-transform: uppercase;
}

.title_item_extra_information a{
    font-size: 14px;
    line-height: 16px;
    color:#163152;
    text-decoration:none ;
}

.policy{
    font-size: 10px;
    line-height: 12px;
}

.policy a{
    font-size: 10px;
    color:#163152;
    text-decoration:none
}

.copyring {
    font-size: 10px;
    line-height: 12px;
}
